.App {
  text-align: center;
}

.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 0 !important;
  background-color: white !important;
}

h2 {
  margin-bottom: 0 !important;
  color: grey !important;
  text-transform: uppercase;
}
